# Python byte code
*.pyc

# Emacs
*~

# Compiled JSON
*.json
!*p4app*.json
!*send*.json

*.pcap

# Build folders
build*/
log*/
pcap*/

*.db
!Scripts/*.db

*.p4i
*.p4rt

#latex
*.aux
*.bbl
*.log
*.out

# DPI log files
Project/controller/dpi_log/*

# pickle files
*.pkl
